// Boostrap variables
$white: #ffffff;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$black: #222222;
$yellow: #ffb406;
$red: #fb462f;
$green: #41b257;
$font-family-sans-serif: "Montserrat", system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.9375rem;
$line-height-base: 1.466666667;
$text-muted: #808080;
$primary: #4ebdef;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: #e8e9ec;
$input-placeholder-color: #808080;
$navbar-dark-color: $white;
$card-cap-bg: $primary;
$card-border-width: 0;
$card-cap-color: $white;
$breadcrumb-bg: none;
$breadcrumb-divider: quote(">");
$body-color: $black;
$h1-font-size: 1.375rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$h4-font-size: 1rem;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;
$font-size-sm: $font-size-base * 0.866666667;
$font-size-lg: $font-size-base * 1.25;
$btn-font-weight: 500;
$btn-box-shadow: none;
$component-active-bg: $primary;
$input-btn-focus-color-opacity: 0.25;
$input-btn-focus-width: 0.2rem;
$input-btn-focus-color: rgba(
  $component-active-bg,
  $input-btn-focus-color-opacity
);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;
$btn-focus-box-shadow: $input-btn-focus-box-shadow;
$btn-active-box-shadow: none;
$btn-border-radius: 50rem;
$btn-disabled-opacity: 1;
$btn-border-width: 2px;
$modal-header-padding: 0.75rem 1.25rem;
$modal-header-border-width: 0;
$modal-header-border-width: 0;
$modal-content-border-width: 0;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
$pagination-border-width: 0;
$hr-margin-y: 1.5rem;
$hr-color: $gray-300;
$nav-tabs-border-width: 0;
$nav-tabs-link-active-bg: none;
$border-color: $gray-300;
$alert-border-width: 1px;
$form-feedback-valid-color: $success;
$form-feedback-invalid-color: $danger;
$input-btn-padding-y: 0.375rem;
$input-btn-padding-x: 0.75rem;
$popover-max-width: 552px;
$input-disabled-bg: #f5f5f6;

// Custom variables
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
$nav-tabs-border-bottom-width: 3px;
$primary-light: #ecf7fd;
$btn-disabled-color: #b1b1b1;
$btn-primary-hover-background-color: #0f9bd9;
$btn-primary-hover-border-color: $btn-primary-hover-background-color;
$btn-primary-disabled-color: #f5f5f6;
$btn-primary-disabled-background-color: $btn-disabled-color;
$btn-primary-disabled-border-color: $btn-primary-disabled-background-color;
$btn-danger-color: #ff8373;
$btn-danger-border-color: $btn-danger-color;
$btn-danger-hover-color: #fb462f;
$btn-danger-hover-border-color: #fb462f;
$backdrop-background-color: #f7f7f7;
