@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
$font-family-sans-serif: 'Montserrat', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.875rem; // tai 0.75rem;
$body-bg: rgb(245, 245, 245);
$primary: rgb(65, 175, 235);
$input-placeholder-color: $primary;
$navbar-dark-color: white;
$card-cap-bg: $primary;
$card-border-width: 0;
$card-cap-color: white;
$breadcrumb-bg: none;
$breadcrumb-divider: quote(">");
