$body-bg: rgb(245, 245, 245);
$primary: rgb(65, 175, 235) !default;
$input-placeholder-color: $primary !default;
$navbar-dark-color: white !default;
$card-cap-bg: $primary;
$card-border-width: 0;
$card-cap-color: white;
