@import "~@/styles/variables";
@import "~vue-multiselect/dist/vue-multiselect.min.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

.font-weight-400 {
  font-weight: $font-weight-400;
}

.font-weight-500 {
  font-weight: $font-weight-500;
}

.font-weight-700 {
  font-weight: $font-weight-700;
}

.text-size-sm {
  font-size: $font-size-sm;
}

.text-size-lg {
  font-size: $font-size-lg;
}

label {
  font-weight: $font-weight-500;
}

label.custom-control-label {
  font-weight: $font-weight-400;
}

.modal-content {
  box-shadow: 0 0 0.5rem rgba(black, 0.5);
  .modal-header {
    color: $white;
    background-color: $primary;
    display: flex;
    align-items: center;
    .modal-title {
      font-size: 1rem;
    }
    .close {
      color: $white;
      text-shadow: none;
      opacity: 1;
      margin: -0.75rem -1.25rem -0.75rem auto;
      font-size: 500;
      font-size: 1.5rem;
    }
  }
}

.custom-control.custom-radio {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.text-star,
.text-star:focus {
  color: #ffc107;
}

ul.nav.nav-tabs {
  border-bottom: $nav-tabs-border-bottom-width solid $gray-300;
  li {
    a.nav-link {
      font-weight: $font-weight-700;

      &.active {
        border-bottom: $nav-tabs-border-bottom-width solid $primary;
        margin-bottom: -$nav-tabs-border-bottom-width;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

hr {
  border-top-color: $hr-color;
}

.alert.alert-dark {
  background-color: #f5f5f6;
  border-color: #e8e9ec;
  color: #222222;
}

textarea::placeholder {
  color: $gray-600 !important;
}

.b-toast-success,
.b-toast-danger {
  .toast {
    border: none;
    color: $white;
    font-weight: 500;
  }
}

.b-toast-success {
  &.b-toast-solid {
    .toast {
      background-color: $success;
    }
  }
}
.b-toast-danger {
  &.b-toast-solid {
    .toast {
      background-color: $danger;
    }
  }
}

// Piilotetaan validoinnin ikonit
.was-validated .form-control:invalid,
.was-validated .form-control:valid,
.form-control.is-invalid,
.form-control.is-valid {
  padding-right: $input-btn-padding-x;
  background-image: none;

  &.b-form-datepicker {
    padding-right: 0;
  }
}

h1 {
  line-height: 1.272727273;
}
h2 {
  line-height: 1.4;
}
h3 {
  line-height: 1.444444444;
}
h4 {
  line-height: 1.375;
}
h5 {
  line-height: 1.466666667;
}
h6 {
  line-height: 1.466666667;
}

.btn-primary {
  color: $white;
  &:hover {
    background-color: $btn-primary-hover-background-color;
    border-color: $btn-primary-hover-border-color;
  }
  &.disabled {
    color: $btn-primary-disabled-color;
    background-color: $btn-primary-disabled-background-color;
    border-color: $btn-primary-disabled-border-color;
  }
}

.btn-outline-primary {
  color: $primary;
  &:hover {
    color: $btn-primary-hover-background-color;
    background-color: transparent;
    border-color: $btn-primary-hover-border-color;
  }
  &.disabled {
    color: $btn-disabled-color;
    border-color: $btn-disabled-color;
  }
}

.btn-back {
  color: $black;
  &:hover {
    color: #000000;
  }
  &:focus {
    box-shadow: $btn-focus-box-shadow;
  }
  &.disabled {
    color: $btn-disabled-color;
  }
}

.btn-outline-danger {
  color: $btn-danger-color;
  border-color: $btn-danger-border-color;
  &:hover {
    color: $btn-danger-hover-color;
    background-color: transparent;
    border-color: $btn-danger-hover-border-color;
  }
  &.disabled {
    color: $btn-disabled-color;
    border-color: $btn-disabled-color;
  }
}
