@import "~@/styles/variables";
@import "~vue-multiselect/dist/vue-multiselect.min.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

.font-weight-400 {
  font-weight: $font-weight-400;
}

.font-weight-500 {
  font-weight: $font-weight-500;
}

.font-weight-700 {
  font-weight: $font-weight-700;
}

.text-size-sm {
  font-size: $font-size-sm;
}

.text-size-lg {
  font-size: $font-size-lg;
}

.text-black {
  color: #222222;
}

label {
  font-weight: 500;
}

.modal-content {
  box-shadow: 0 0 0.5rem rgba(black, 0.5);
  .modal-header {
    color: white;
    background-color: $primary;
    display: flex;
    align-items: center;
    .modal-title {
      font-size: 1rem;
    }
    .close {
      color: white;
      text-shadow: none;
      opacity: 1;
      margin: -0.75rem -1.25rem -0.75rem auto;
      font-size: 500;
      font-size: 1.5rem;
    }
  }
}

.custom-control.custom-radio {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.text-star,
.text-star:focus {
  color: #ffc107;
}

ul.nav.nav-tabs {
  border-bottom: $nav-tabs-border-bottom-width solid $gray-300;
  li {
    a.nav-link {
      font-weight: $font-weight-700;

      &.active {
        border-bottom: $nav-tabs-border-bottom-width solid $primary;
        margin-bottom: -$nav-tabs-border-bottom-width;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

hr {
  border-top-color: $hr-color;
}
